/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Base
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
    box-sizing: border-box;
}
.wrapper {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url(../img/w-nx-levopc-will-van-wingerden.jpg)
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Nav
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
nav {
    padding: 10px 0;
    height: 480px;
    width: 100%;
    background: #222;
    color: white;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.hero {
    padding: 10px 0;
    height: 300px;
    width: 100%;
    background: #ccc;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
main {
    padding: 10px 0;
    height: 600px;
    width: 100%;
    background-color: #2f3238;
}
.card {
    background: white;
    width: 450px;
    height: 300px;
    display: inline-block;
        background-image:url(../img/w-nx-levopc-will-van-wingerden.jpg);
        overflow: hidden;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
}
.card p{
    color: white;
    margin: 92px 20px;
    text-align: center;
    transform: translateY(40px);
    transition-duration: 0.4s;
    opacity: 0;
}
.card:hover p {
    transform: translateY(-30px);
    opacity: 1;
}
.title-container{
    background: white;
    width: 100%;
    height: 80px;
    color: #2f3238;
    padding: 0 20px;
    transform: translateY(80px);
    transition-duration: 0.4s; 
}
.card:hover .title-container{
    transform: translateY(0); 
}
.title-container h3{
    display: inline-block;
    font-size: 34px;
    margin: 21px 0;
    text-transform: uppercase;
    font-weight: 100;
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    transform: translateY(60px);
}
.card:hover h3{
    transform: translateY(0);
}
.icon-container{
    float: right;
    font-size: 24px;
    margin: 18px 0;
}
.icon-container i{
    padding: 10px;
}
.title-container i:nth-child(1){
    transition-duration: 0.4s;
    transform: translateY(60px);
    transition-delay: 0.15s;
}
.card:hover .title-container i:nth-child(1){
    transform: translateY(0px)
}
.title-container i:nth-child(2){
    transition-duration: 0.4s;
    transform: translateY(60px);
    transition-delay: 0.2s;
}
.card:hover .title-container i:nth-child(2){
    transform: translateY(0px)
}
.title-container i:nth-child(3){
    transition-duration: 0.4s;
    transform: translateY(60px);
    transition-delay: 0.25s;
}
.card:hover .title-container i:nth-child(3){
    transform: translateY(0px)
}
.bold{
    font-weight: bold;
}
.fa-paperclip{
    transform: scale(-1, 1)
}
/*--------------------------------------------------------------------------------------------------------*/

.card-1 {
    background: white;
    width: 290px;
    height: 290px;
    display: inline-block;
    position: relative;
        background-image: url(../img/w-nx-levopc-will-van-wingerden.jpg);
        overflow: hidden;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    
}
.card-filter{
    width:425px;
    height: 500px;
    background: rgba(150, 150, 255, 0.3);
    width:425px;
    float: right;
/*    transform: translate(466px, -584px) rotate(45deg);*/
    transform: translate(456px, -745px) rotate(45deg);
    transition-duration: 1s;
}
.card-1:hover .card-filter{
    transform: translate(44px, -315px) rotate(45deg);
 
}
.divide{
    height: 80px;
    background: rgba(50, 50, 255, 1);
    width:425px;
    float: right;
/*    transform: translate(61px, 111px) rotate(45deg);*/
/*    transform: translate(261px, -89px) rotate(45deg);*/
    transform: translate(251px, -250px) rotate(45deg);
    transition-duration: 1s;
    
}
.card-1:hover .divide{
    transform: translate(-161px, 180px) rotate(45deg);
}
.card-1 p{
    display: inline-block;
    z-index: 1001;
    color: #111111;
    float: left;
}
.card-1:hover p {

}
.title-container-1{
    float: left;
    width: 100%;
    color: #2f3238;

}
.card-1:hover .title-container-1{

}
.title-container-1 h3{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 100;
}
.card-1:hover h3{

}

.icon-container{
    float: right;
}
.icon-container i{

}
.title-container-1 i:nth-child(1){

}
.card-1:hover .title-container-1 i:nth-child(1){

}
.title-container-1 i:nth-child(2){

}
.card-1:hover .title-container-1 i:nth-child(2){

}
.title-container-1 i:nth-child(3){

}
.card-1:hover .title-container-1 i:nth-child(3){

}
.bold{
    font-weight: bold;
}
.fa-paperclip{
    transform: scale(-1, 1)
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
footer {
    padding: 10px 0;
    background: #222;
    height: 300px;
    width: 100%;
    color: white;
}