/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Base
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
    box-sizing: border-box;
}
.wrapper {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Nav
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
nav {
    padding: 10px 0;
    height: 80px;
    width: 100%;
    background: #222;
    color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.hero {
    padding: 10px 0;
    height: 300px;
    width: 100%;
    background: #ccc;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
main {
    background: #222;
    padding: 10px 0;
    height: 600px;
    width: 100%;
}

.container{
    height: 200px;
    width: 200px;
    background: black;
    text-align: center;
    position: relative;
}
.container h3{
    color: white;
}
.container p{
    margin-top: 40px;
    color: white;
}
.line-1, .line-2{
    margin: calc(50% - 1.5px) 10%;
    position: absolute;
    width: 80%;
    background: white;
    height: 3px;
    
}
.container:hover .line-1{
    transform: rotate(45deg);
}
.container:hover .line-2{
    transform: rotate(-45deg);
}
.line-1{
    transition-duration: .4s;
    transform: rotate(0deg);
}
.line-2{
    transition-duration: .4s;
    transform: rotate(0deg);
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
footer {
    padding: 10px 0;
    background: #444;
    height: 300px;
    width: 100%;
    color: white;
}
