.parallax {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img1{
    background-image: url("img/aleksandra-boguslawska-595.jpg");
}
.img2{
    background-image: url("img/ales-krivec-1881.jpg");
}
.img3{
    background-image: url("img/daniel-olah-158616.jpg");
}
.img4{
    background-image: url("img/dylan-gialanella-45742.jpg");
}
.img5{
    background-image: url("img/michael-hirsch-34793.jpg");
}
.img6{
    background-image: url("img/wil-stewart-18242.jpg");
}