/* * * * * * * * * * * * * * * * * * * * * * *
Base Styles
* * * * * * * * * * * * * * * * * * * * * * */
/*nav and hero should be absolute height. same as footer*/
* {
	box-sizing: border-box;
}

body {
	background: #232429;
	margin: 20px 0;
}

.wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
}

.section-label {
	opacity: 0.6;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	margin-top: 0;
}



/* * * * * * * * * * * * * * * * * * * * * * *
Section Styles
* * * * * * * * * * * * * * * * * * * * * * */

header,
.hero,
.secondary,
.main {
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 15px;
}

header {
	background: #d92241;
	min-height: 100px;
}

.hero {
	background: #38d;
	height: 300px;
}

.main {
	background: white;
}

.secondary {
	background: #1b8;
}

footer {
    height:250px;
    display: flex;
	background: #434449;
    margin-bottom: 20px;
	border-radius: 5px;
}
