header{
    position: relative;
}

header .mobile-nav{
    right: 5%;
    display: none;
    color: #FFFFFF;
    font-size: 3em;
    padding-top: 1%;
    position: absolute;
    
}


.logo-container{
    float: left;
    margin: 0 5px 0 5px;
    height: 62px;
}
.logo-container i{
    font-size: 4em;
    color: #FFFFFF;
    line-height: 62px;
}
header a{
    background-color: rgba(0,0,0,0.2);
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 62px;
    
}
header ul{
    float: right;
    height: 62px;
    margin: 0 15px;
}
header li{
    display: inline-block;
    
}

/*-----------------------------------------------------------------------------------*/
/*HERO SECTION*/
/*-----------------------------------------------------------------------------------*/

.hero{
    padding-top: 70px;
    text-align: center;
    
}
.hero h1{
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 20px;
}
.hero h2{
    color: #FFFFFF;
    opacity: 0.8;
}
.hero a{
    display: inline-block;
    background-color: rgba(0,0,0,0.2);
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}


/*
----------------------------------------------------------------------------------------------------------------
    look at ul padding

    maybe set it all to 0
----------------------------------------------------------------------------------------------------------------
*/

.contact, .sitemap{
    border-right-color: #AAAAAA;
    border-right-style: solid;
    border-right-width: thin;

    
}
.contact, .sitemap, .social{
    float: left;
    width: 33%;
    margin: 20px 0;
    
}
.contact{
    background-color: #434449;
    color: #AAAAAA;
    
}
.contact a{
    text-decoration: none;
}
.contact li{
    text-align: center;
    display: block;
}
.contact ul{
    margin-left: -40px;
    line-height: 1.6;
}
.break{
    display: none;
}

.break-2{
    display: none;
}



.sitemap{
    width: 34%;
    text-align: center;
    margin: 20 0 20 0;
    background-color: #434449;
    color: #AAAAAA;
}
.sitemap a{
    text-align: center;
    text-decoration: none;
    color: #AAAAAA;
}
.sitemap li{
    display: block;
}
.sitemap ul{
     margin-left: -40px;
    line-height: 1.6;

}





.social{
    float: right;
    background-color: #434449;
    color: #AAAAAA;
    padding-bottom: 20px;
}
.social a{

    text-decoration: none;
}
.social li{
    display: block;
    margin-bottom: 20px;

}
.social ul{
    padding-right: 2%;
    text-align: center;
    line-height: 1.6;
     margin-left: -40px;
}
.social i{
    width: 23%;
    margin: 0 5% 0 5%;
    text-align: center;
    float: left;
    font-size: 3em;
    color: #AAAAAA;
}


/*
make comments shortcut so i can title more things
*/
.clearfix{
    display: flex;
}
.main, .secondary, .third, .fourth{
    float: left;
}

.main{
    width: calc(60% - 20px);
    margin-right: 20px;
}

.secondary{
    width: 40%;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

@media (max-width: 960px){
    .desktop-nav ul{
        display: none;
    }
    header .mobile-nav{
        display: block;
    }
    header .logo-container{
        float: none;
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 960px){
    .hero h2{
        font-size: 1em;
    }
}

@media (max-width: 960px){
    .main, .secondary{
        width: 100%;
        margin-right: 0;
        height: 100%;
    }
    .clearfix{
        display: block;
    }
}

@media (max-width: 640px){
    .social, .contact, .sitemap{
        border-radius: 0;
    }
    .contact{
        width: 100%;
        margin: 0;
        border-style: none;
        border-bottom-color: #AAAAAA;
        border-bottom-style: solid;
        border-bottom-width: thin;
    }
    .social, .sitemap{
        display: inline-block;
        margin: 0;
        margin-bottom: 20px;
        width: 50%;
    }
    .contact li{
        display: inline-block;
    }
    .contact ul{
        text-align: center;
    }
    .break{
        display: block;
    }
    footer {
        display: block;
        height: 360px;
    }
}

@media (max-width: 390px){
    .sitemap, .social{
        width: 100%;
        margin: 0;
        border-style: none;
    }
    .sitemap{
        border-bottom-color: #AAAAAA;
        border-bottom-style: solid;
        border-bottom-width: thin;
    }
    .break-2{
        display: block;
    }
    .social{
        margin-bottom: 20px;
        
    }

}


















