/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Base
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
    box-sizing: border-box;
}
.wrapper {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Nav
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
nav {
    height: 80px;
    width: 100%;
    background: #111;
}
.desktop-nav{
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.logo-container{
    display: inline-block;
    margin: 0;
    height: 80px;
    width: 80px;
    line-height: 80px;
    padding: 10px 0 10px 20px;
}
.logo-container a{
        color: #A00;
    }
.logo-container i{
        font-size: 60px;
        font-weight: bold;
    }
.menu-container{
    vertical-align: top;
    float: right;
    height: 80px;
}
.menu-container ul{
    margin: 0;
    float: right;
}
.menu-container li{
    float: left;
    display: inline-block;
    line-height: 80px;
    font-size: 1.3em;
}
.menu-container li:hover{
    background-color: rgba(255,255,255,.1);
    color: #AAA;
}
.menu-container a{
    padding: 28.5px 15px;
    text-decoration: none;
    color: #AAA;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Mobile
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
nav {
    z-index: 1000;
    position: fixed;
    height: 80px;
    width: 100%;
    background: #111;
    color: white;
}
.mobile-nav{
    display: none;
    background: #111;
    position: absolute;
    height: 80px;
    width: 80px;
    top: 0;
    right: 0;
    
}
.hamburger{
    float: right;
    background: none;
    border: none;
    outline: none;
    height: 80px;
    width: 80px;
    position: fixed;
}
.mobile-container{
    position: fixed;
    right: -200px;
    width: 200px;
    height: 1000px;
    padding-top: 80px;
    background-color: #444;
    transform: translateX(0px);
    transition: transform .4s;
}
.mobile-container ul{
    margin: 0;
    padding: 0;
}
.mobile-container li{
    margin: 0;
    list-style: none;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    
}
.mobile-container a{
    text-decoration: none;
    padding: 8px 48px;
    color: White;
}
.hamburger__svg{
    width: 50px;
    height: 50px;
    transform: translateX(0px);
    transition: transform .4s;
}
.mobile-nav:hover .hamburger__line--1{
    transform: rotate(45deg);
    transition: transform .4s;
}
.mobile-nav:hover .hamburger__line--2{
    opacity: 0;
    transition: opacity .125s;
}
.mobile-nav:hover .hamburger__line--3{
    transform: rotate(-45deg);
    transition: transform .4s;
}
.mobile-nav:hover .mobile-container{
    transform: translatex(-200px);
    transition: transform .4s;
}
.mobile-container:hover .hamburger__line--1{
    transform: rotate(45deg);
    transition: transform .4s;
}
.mobile-container:hover .hamburger__line--2{
    opacity: 0;
    transition: opacity .125s;
}
.mobile-container:hover .hamburger__line--3{
    transform: rotate(-45deg);
    transition: transform .4s;
}
.mobile-nav:hover .hamburger__svg{
    transform: translatex(-200px);
    transition: transform .4s;
}
.hamburger__line{
    stroke: white;
    stroke-width: 8;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transition: transform .4s;
}
.hamburger__line--1{
    transform: translateY(-20px) rotate(0deg);
}
.hamburger__line--1--open{
    transform: rotate(45deg);
    transition: transform .4s;
}
.hamburger__line--2{
    opacity: 1;
    transition: opacity .4s;
}
.hamburger__line--2--open{
    opacity: 0;
    transition: opacity .125s;
}
.hamburger__line--3{
    transform: translateY(20px) rotate(0deg);
}
.hamburger__line--3--open{
    transform: rotate(-45deg);
    transition: transform .4s;
}
@media (max-width:500px){
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.hero, .mini-hero {
    height: 600px;
    width: 100%;
    background-image: linear-gradient(135deg, rgba(0,0,0,.9), rgba(0,0,0,.1)), url(../img/hero-home.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.mini-hero {
    height: 300px;
}
.menu-hero{
    background-image: linear-gradient(135deg, rgba(0,0,0,.9), rgba(0,0,0,.1)), url(../img/hero-menu.jpg);
    background-position: 50% 30%;
} 
.about-hero{
    background-image: linear-gradient(135deg, rgba(0,0,0,.9), rgba(0,0,0,.1)), url(../img/hero-about.jpg);
    background-position: 50% 20%;
}
.contact-hero{
    background-image: linear-gradient(135deg, rgba(0,0,0,.9), rgba(0,0,0,.1)), url(../img/hero-contact.jpg);
    background-position: 50% 30%;
}
.description-container, .mini-description-container{
    display: inline-block;
    padding-top: 150px;
    margin-left: 10%;
    max-width: 600px;
    color: #EEE;
}
.mini-description-container{
    padding-top: 25px;
}
.mini-description-container h1{
    padding-top: 50px;
    font-size: 3.5em;
}
.description-container h1{
    font-size: 2.8em;
    margin: 0;
}
.description-container p{
    font-size: 1.2em;
}
@media (max-width:500px){
    .description-container{
        margin-left: 30px;
    }
    .description-container h1{
        font-size: 1.9em;
    }
    .description-container p{
        font-size: 1em;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
MAIN
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
main h2{
    text-align: center;
    color: #AAA;
}
.vision{
    padding: 10px 40px;
    margin-bottom: 10px;
    color: #AAA;
    line-height: 1.4em;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
footer {
    background: #111;
    height: 250px;
    width: 100%;
}
footer ul{
    margin: 0;
    padding-top: 50px;
}
footer li{
    list-style: none;
    font-size: .8em;
    color: rgba(255,255,255,0.4);
}
footer a{
    text-decoration: none;
    color: rgba(255,255,255,0.4);

}
.social li{
    text-align: center;
    padding-bottom: 5px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.social i{
    font-size: 3em;
    
}
.foot-title{
    font-size: 1.4em;
    color: white;
}
.fa-twitter-square, .fa-snapchat-square{
    float: left;
}
@media (max-width:500px){
    .locate{
        display: none;
    }    
    .sitemap{
        display: none;
    }
    .social{
        display: block;
        width: 100%;
    }
    .social ul{
        padding: 0;
    }
    .social li{
        width: 23.25%;
    }
    .fa-twitter-square, .fa-snapchat-square{
    float: none;
    }
    .social li:first-child{
        padding: 50px 0 20px 0;
        width: 100%;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Home Main
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
main {
    background: #444;
    padding: 10px 0;
    width: 100%;
}
.menu-wrapper{
    padding: 50px 0;
    margin: 0 calc(50% - 455px);
}
.container{
    margin: 0 10px;
    display: inline-block;
    height: 200px;
    width: 200px;
    text-align: center;
    position: relative;
}
.container h3{
    margin: 0;
    width: 100%;
    position: absolute;
    top: 20px;
    color: #FFF;
    font-size: 1.6em;
    transition-duration: .4s;
    transform: translate(0);
}
.container p{
    margin: 0;
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    color: white;
    transition-duration: .4s;
    transform: translate(0);
}
.starter, .main, .deserts, .drinks{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.starter{
    background-image: url(../img/starter.jpg);
}
.main{
   background-image: url(../img/main.jpg);
}
.deserts{
    background-image: url(../img/desserts.jpg);
}
.drinks{
    background-image: url(../img/drinks.jpg);
}
.cover{
    height: 200px;
    width: 200px;
    background: rgba(204, 51, 0,0);
    transition: background 0.4s;
}
.line-1, .line-2{
    position: absolute;
    top: 99.75px;
    margin:0 10%;
    width: 80%;
    background: white;
    height: 1.5px;
    opacity: .8;
}
.line-1{
    transition-duration: .4s;
    transform: rotate(0deg);
}
.line-2{
    transition-duration: .4s;
    transform: rotate(0deg);
}
.container:hover .line-1{
    transform: rotate(45deg);
}
.container:hover .line-2{
    transform: rotate(-45deg);
}
.container:hover p{
    transform: translatey(-25px);
}
.container:hover h3{
    transform: translatey(25px);
}
.container:hover .cover{
    background: rgba(204, 51, 0,.3);
}
@media (max-width:1080px){
    .menu-wrapper{
        padding-bottom: 0;
        margin: 0 calc(50% - 243px);
    }
    .container{
        margin: 0 20px 50px 20px;
    }
}
@media (max-width:480px){
    .menu-wrapper{
        padding-bottom: 0;
        margin: 0 calc(50% - 100px);
    }
    .container{
        margin: 0;
        margin-bottom: 50px;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
menu
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.menu-title{
    color: #222;
    padding: 20px 10px 0 20px;
}
.product-container{
    background: #AAA;
}
.product{
    position: relative;
    height: 250px;
    overflow: hidden;
}
.price{
    background: #FFF;
    position: absolute;
    padding-left: 20px;
    margin: 0;
    top: 20px;
    transform: translateX(-55px);
    transition-duration: .5s; 
    
}
h5, h4 {
    padding: 5px;
    margin: 0;
}
.title{
    background: #FFF;
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    transform: translateY(30px);
    transition-duration: .5s; 
}
.description{
    color: #FFF;
    background: #333;
    position: absolute;
    height: 80px;
    padding: 0 10px;
    bottom: 0px;
    transform: translatey(80px);
    transition-duration: .5s; 

}
.product-1, .product-2, .product-3, .product-4,
.product-5, .product-6, .product-7, .product-8,
.product-9, .product-10, .product-11, .product-12,
.product-13, .product-14, .product-15, .product-16
{
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}
.product-1{
        background-image: url(../img/Starters/calamari.jpg);
}
.product-2{
        background-image: url(../img/Starters/carrot-soup.jpg);
}
.product-3{
        background-image: url(../img/Starters/ceaser-salad.jpg);
}
.product-4{
        background-image: url(../img/Starters/pork-bites.jpg);
}
.product-5{
        background-image: url(../img/mains/steak.jpg);
}
.product-6{
        background-image: url(../img/mains/spaghetti.jpg);
}
.product-7{
        background-image: url(../img/mains/burger.jpg);
}
.product-8{
        background-image: url(../img/mains/chicken.jpg);
}
.product-9{
        background-image: url(../img/Desserts/brownie.jpg);
}
.product-10{
        background-image: url(../img/Desserts/red-velvet.jpg);
}
.product-11{
        background-image: url(../img/Desserts/souffle.jpg);
}
.product-12{
        background-image: url(../img/Desserts/strawberry.jpg);
}
.product-13{
        background-image: url(../img/Drinks/sodas.jpg);
}
.product-14{
        background-image: url(../img/Drinks/juices.jpg);
}
.product-15{
        background-image: url(../img/Drinks/wine.jpg);
}
.product-16{
        background-image: url(../img/Drinks/beer.jpg);
}

.product:hover .price{
    transform: translateX(0px);
    transition-duration: .5s; 
}
.product:hover .title{
    transform: translateX(0px);
    transition-duration: .5s; 
}
.product:hover .description{
    transform: translateX(0px);
    transition-duration: .5s; 
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
about
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.about-container{
    padding: 0 10%; 
}
.bio{
    overflow: hidden;
    position: relative;
    height: 200px;
    background: #222;
}
.bio h4{
    text-align: right;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.4em;
    color: transparent;
}
.bio p{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 100px;
    color: transparent;


}
.bio:hover h4{
    color: white;
    transition-delay: .3s;
    transition-duration: .7s;
}
.bio:hover p{
    color: white;
    transition-delay: .3s;
    transition-duration: .7s;

}
.bio-img{
    margin: 25px auto;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    transform: translatey(0px);
}
.bio:hover .bio-img{
    margin: 50px 0 50px 10px;
    height: 75px;
    width: 75px;
    transform: translatey(-40px);
    transition-duration: .4s;
}
.bio-1, .bio-2, .bio-3, .bio-4{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bio-1{
        background-image: url(../img/bio-01.jpg);
}
.bio-2{
        background-image: url(../img/bio-02.jpg);
}
.bio-3{
        background-image: url(../img/bio-03.jpg);
}
.bio-4{
        background-image: url(../img/bio-04.jpg);
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
CONTACT
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.input {
	position: relative;
	display: block;
}
.about-container{
    margin: 0 10px;
    display: block;
    text-align: center;
    position: relative;
}
.input-field {
	border: none;
	width: 100%;
	background: transparent;
	color: white;
}
.input-field:focus {
	outline: none;
}
.input-label {
	display: inline-block;
	font-weight: bold;
	font-size: 70.25%;
    position: relative;
	overflow: hidden;
	width: 100%;
	color: #dadada;
	text-align: left;
}
.input-label-content {
	position: relative;
	display: block;
	width: 100%;
}
.text-area{
    height: 100px;
    overflow: visible;
    resize: vertical;
}
.input-label::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 7px;
	background: #dadada;
    transform: scale3d(1, 0.4, 1);
    transform-origin: 50% 100%;
    transition: transform 0.3s, background-color 0.3s;
                                                                    
}
.input-label::after {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75em 0.15em;
	color: #da7071;
	opacity: 0;
    transform: translate3d(0, 50%, 0);
    transition: opacity 0.3s, transform 0.3s;
                                                                    
}
.input-field:focus + .input-label::before {
	background-color: #da7071;   
    transform: scale3d(1, 1, 1);
}
.input-field:focus + .input-label::after {
	opacity: 1;
    transform: translate3d(0, 0, 0);
}
.input-label-content {
	padding: 0.75em 0.15em;
    transition: opacity 0.3s, transform 0.3s;                              
}
.input-field:focus + .input-label .input-label-content {
	opacity: 0;                                                          
}