            @import url('http://fonts.googleapis.com/css?family=Roboto');
$b: #000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 16px/1 'Roboto', sans-serif;
  text-align: center;
  color: #555;
  background: #ddd;
}
.demo {
  padding: 35px 0;
  border-bottom: 1px solid $b;
  background: #eee;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
    
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type='text'] {
  width: 320px;
  padding: 10px 10px 12px 60px;
  font-size: 12px;
  color: #555;
  border: 1px solid $b;
  background-color: yellow;
  padding-right: 70px;
}
.css {
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
}
.css input {
  transition: .1s all linear;
    
}
.css label {
  position: absolute;
  font-size: 12px;
  color: #aaa;
  transition: .1s all linear;
  cursor: text;
    
  top: 0;
  left: 0;
  padding: 12px;
  padding-bottom: 12.5px;
  padding-right: 275px;
  opacity: .5;
  color: red;
  background: black;
}
.demo6 .css.active input {
  padding-left: 10px;
}
.demo6 .css.active label {
  top: 0;
  left: 0;
  background: blue;
  margin-left: 262px;
  padding-right: 13px;
}