/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Base
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
    box-sizing: border-box;
}
.wrapper {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
/*
h1 {
    font-family: 'Open Sans', sans-serif;
}



*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Nav
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
nav {
    position: fixed;
    padding: 10px 0;
    height: 80px;
    width: 100%;
    background: #222;
    color: white;
}
.mobile-nav-test{
    background: #222;
    position: absolute;
    height: 80px;
    width: 80px;
    top: 0;
    
}
.hamburger{
    float: left;
    background: none;
    border: none;
    outline: none;
    height: 80px;
    width: 80px;
    position: fixed;
}
.nav{
    position: fixed;
    left:-200px;
    width: 200px;
    height: 1000px;
    background-color: red;
    transform: translateX(0px);
    transition: transform .4s;
}
.hamburger__svg{
    width: 50px;
    height: 50px;
    transform: translateX(0px);
    transition: transform .4s;
}
.mobile-nav-test:hover .hamburger__line--1{
    transform: rotate(45deg);
    transition: transform .4s;
}
.mobile-nav-test:hover .hamburger__line--2{
    opacity: 0;
    transition: opacity .125s;
}
.mobile-nav-test:hover .hamburger__line--3{
    transform: rotate(-45deg);
    transition: transform .4s;
}
.mobile-nav-test:hover .nav{
    transform: translatex(200px);
    transition: transform .4s;
}
.nav:hover .hamburger__line--1{
    transform: rotate(45deg);
    transition: transform .4s;
}
.nav:hover .hamburger__line--2{
    opacity: 0;
    transition: opacity .125s;
}
.nav:hover .hamburger__line--3{
    transform: rotate(-45deg);
    transition: transform .4s;
}
.mobile-nav-test:hover .hamburger__svg{
    transform: translatex(200px);
    transition: transform .4s;
}
.hamburger__line{
    stroke: white;
    stroke-width: 8;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transition: transform .4s;
}
.hamburger__line--1{
    transform: translateY(-20px) rotate(0deg);
}
.hamburger__line--1--open{
    transform: rotate(45deg);
    transition: transform .4s;
}
.hamburger__line--2{
    opacity: 1;
    transition: opacity .4s;
}
.hamburger__line--2--open{
    opacity: 0;
    transition: opacity .125s;
}
.hamburger__line--3{
    transform: translateY(20px) rotate(0deg);
}
.hamburger__line--3--open{
    transform: rotate(-45deg);
    transition: transform .4s;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.hero {
    padding: 10px 0;
    height: 300px;
    width: 100%;
    background: #ccc;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
main {
    padding: 10px 0;
    height: 1600px;
    width: 100%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
footer {
    padding: 10px 0;
    background: #222;
    height: 300px;
    width: 100%;
    color: white;
}
.parallax{ 
    /* The image used */
    background-image: url(../img/parallax.jpg);

    /* Set a specific height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-1{
    /* The image used */
    background-image: url(../img/parallax-1.jpg);

    /* Set a specific height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



