/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Base
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
*,
*:after,
*::before {
    box-sizing: border-box;
}
.wrapper {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
body {
    font-family: 'Raleway', sans-serif;
}
.red {
    background: #FF0000;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Nav
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.selected{
    background: #67B2E8;
    color: #FFF;
}
#navigation {
    z-index: 1000;
    top: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    background: #FFF;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
}
.desktop-nav{
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.logo-container{
    display: inline-block;
    margin: 0;
    height: 60px;
    width: 100px;
    padding: 5px 25px;
}
.logo-container img{
    height: 50px;
    width: 50px;
    }
.menu-container{
    vertical-align: top;
    height: 60px;
    float: right;
    overflow: hidden;
}
.menu-container a{
    background: white;
    color: #67B2E8;
    margin: 0;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
}
.menu-container a span {
    
    margin-right: -5px;
	display: inline-block;
	padding: 18px 20px;
	-webkit-transition: -webkit-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: -o-transform 0.3s;
	transition: -moz-transform 0.3s;
	transition: -ms-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	transition: transform 0.3s, -o-transform 0.3s;
	transition: transform 0.3s, -moz-transform 0.3s;
	transition: transform 0.3s, -ms-transform 0.3s;
}
.menu-container a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
    background:#717271;
    color:white;
	padding: 18px 20px;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: -o-transform 0.3s;
	transition: -moz-transform 0.3s;
	transition: -ms-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	transition: transform 0.3s, -o-transform 0.3s;
	transition: transform 0.3s, -moz-transform 0.3s;
	transition: transform 0.3s, -ms-transform 0.3s;
	-webkit-transform: translateY(100%);
	-o-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.menu-container a:hover span,
.menu-container a:focus span {
	-webkit-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.menu-container a:hover::before,
.menu-container a:focus::before {
	-webkit-transform: translateY(0%);
	-o-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Mobile
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.mobile-nav{
    display: none;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 0;
    right: 0;
    z-index: 999;
    
}
.hamburger{
    height: 60px;
    width: 60px;
}
.mobile-container{
    position: fixed;
    right: -150px;
    width: 150px;
    height: 100vh;
    padding-top: 60px;
    overflow: hidden;
    background-color: rgba(20,20,20,.6);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.mobile-container a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 11.5px;
    font-size: 1em;
    color: white;
	text-transform: uppercase;
}
.mobile-container a span{
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: -moz-transform 0.3s;
    transition: -ms-transform 0.3s;
    transition: -o-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, -moz-transform 0.3s;
    transition: transform 0.3s, -ms-transform 0.3s;
    transition: transform 0.3s, -o-transform 0.3s;
}
.mobile-container a::before {
    position: absolute;
    width: 150px;
    height: 40px;
    padding-left: 40px;
    padding-top: 11.5px;
    margin-top: -11.5px;
	z-index: 1;
    background:white;
    opacity: .7;
    color: #717271;
	content: attr(data-hover);
	-webkit-transform: translateX(-190px);
	-moz-transform: translateX(-190px);
	-ms-transform: translateX(-190px);
	-o-transform: translateX(-190px);
	transform: translateX(-190px);
}
.mobile-container .mob-nav{
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}
.mobile-container .mob-nav:hover{
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -o-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}
.mobile-container a:hover::before,
.mobile-container a:focus::before {
	-webkit-transform: translateX(-190px);
	-moz-transform: translateX(-190px);
	-ms-transform: translateX(-190px);
	-o-transform: translateX(-190px);
	transform: translateX(-190px);
}
.hamburger__svg{
    width: 50px;
    height: 50px;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.mobile-nav:hover .hamburger__line--1{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.mobile-nav:hover .hamburger__line--2{
    opacity: 0;
    -webkit-transition: opacity .125s;
    -moz-transition: opacity .125s;
    -ms-transition: opacity .125s;
    -o-transition: opacity .125s;
    transition: opacity .125s;
}
.mobile-nav:hover .hamburger__line--3{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.mobile-nav:hover .mobile-container{
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    -o-transform: translateX(-150px);
    transform: translateX(-150px);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.mobile-container:hover .hamburger__line--1{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.mobile-container:hover .hamburger__line--2{
    opacity: 0;
    -webkit-transition: opacity .125s;
    -moz-transition: opacity .125s;
    -ms-transition: opacity .125s;
    -o-transition: opacity .125s;
    transition: opacity .125s;
}
.mobile-container:hover .hamburger__line--3{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.mobile-nav:hover .hamburger__svg{
    -webkit-transform: translatex(-95px);
    -moz-transform: translatex(-95px);
    -ms-transform: translatex(-95px);
    -o-transform: translatex(-95px);
    transform: translatex(-95px);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.hamburger__line{
    stroke: #67B2E8;
    stroke-width: 8;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.hamburger__line--1{
    -webkit-transform: translateY(-20px) rotate(0deg);
    -moz-transform: translateY(-20px) rotate(0deg);
    -ms-transform: translateY(-20px) rotate(0deg);
    -o-transform: translateY(-20px) rotate(0deg);
    transform: translateY(-20px) rotate(0deg);
}
.hamburger__line--1--open{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
.hamburger__line--2{
    opacity: 1;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}
.hamburger__line--2--open{
    opacity: 0;
    -webkit-transition: opacity .125s;
    -moz-transition: opacity .125s;
    -ms-transition: opacity .125s;
    -o-transition: opacity .125s;
    transition: opacity .125s;
}
.hamburger__line--3{
    -webkit-transform: translateY(20px) rotate(0deg);
    -moz-transform: translateY(20px) rotate(0deg);
    -ms-transform: translateY(20px) rotate(0deg);
    -o-transform: translateY(20px) rotate(0deg);
    transform: translateY(20px) rotate(0deg);
}
.hamburger__line--3--open{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: -webkit-transform .4s;
    transition: -moz-transform .4s;
    transition: -ms-transform .4s;
    transition: -o-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s, -moz-transform .4s;
    transition: transform .4s, -ms-transform .4s;
    transition: transform .4s, -o-transform .4s;
}
@media (max-width:500px){
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.hero {
    padding: 10px 0;
    height: 300px;
    width: 100%;
    background: #ccc;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
main {
    padding: 10px 0;
    height: 650px;
    width: 100%;
}
.parallax { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Home
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.home-hero{
    background-image: url(/img/main_hero.jpg);
    background-repeat: no-repeat;
    background-position:50% 0%;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 100px);
}
.home{
    height: 100%;
    padding:0;
}
.opening-text{
    position: relative;
    background: white;
}
.home-header{
    font-size: 2em;
    width: 100%;
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0px;
}
.first-pic{
    background-image: url(/img/second-hero.jpg);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.prof-summary{
    padding: 60px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    line-height: 40px;
}
.second-pic{
    background-image: url(/img/third_hero.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.grid-thing{
    
}
.hero-pic{
    background-image: url(/img/main_hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 300px);
}
.card{
    max-width: 5000px;
    background: #222222;
    height: 50vh;
    margin: 0px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
                background-size: contain;
        transition-duration: .5s;


}
.card:hover .html, .card:hover .js, .card:hover .php, .card:hover .wp{
    transform: scale(1.3);
    transition-duration: .5s;
}
.html, .js, .php, .wp{
        max-width: 5000px;
    background: #222222;
    height: 50vh;
    margin: 0px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
                background-size: contain;
        transition-duration: .5s;
}
.html{
    background-image: url(/img/html-css.png);
}
.js{
    background-image: url(/img/javascript.png);
}
.php{
    background-image: url(/img/php.png);
}
.wp{
    background-image: url(/img/wordpress.png);
}
@media (max-width:600px){
    .home-header{
        font-size:1.5em;
    }
    .prof-summary{
        font-size: ;
        line-height: ;
    }
}
@media (max-width:425px){
    .home-header{
        font-size:1em;
    }
    .prof-summary{
        font-size: ;
        line-height: ;
    }
}
@media (max-width:725px){
    .prof-summary{
        font-size: 15px;
        line-height: 30px;
    }
}
@media (max-width:450px){
    .prof-summary{
        padding: 20px;
        font-size: 15px;
        line-height: 20px;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Services
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.services{
    overflow: hidden;
    height: 200px;
    width: 90vw;
}
.services-container, .services-container > div {
	height: 200px;
}
.services-container-rotate {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0, 0, -100px);
	-moz-transform: translate3d(0, 0, -100px);
	-ms-transform: translate3d(0, 0, -100px);
	-o-transform: translate3d(0, 0, -100px);
	transform: translate3d(0, 0, -100px);
}
.services-container-rotate > div {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}
.services-container-rotate .service1, .service2, .service3, .service4, .service5, .service6{
    width: 100vw;
    background: #FFF;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;

}
.services-container-rotate h2{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: 600
}
.services-container-rotate .service1 {
	-webkit-transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 172px);
	-moz-transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 172px);
	-ms-transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 172px);
	-o-transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 172px);
	transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 172px);
}
.services-container-rotate .service2 {
	-webkit-transform: rotate3d(1, 0, 0, 120deg) translate3d(0, 0, 172px);
	-moz-transform: rotate3d(1, 0, 0, 120deg) translate3d(0, 0, 172px);
	-ms-transform: rotate3d(1, 0, 0, 120deg) translate3d(0, 0, 172px);
	-o-transform: rotate3d(1, 0, 0, 120deg) translate3d(0, 0, 172px);
	transform: rotate3d(1, 0, 0, 120deg) translate3d(0, 0, 172px);
}
.services-container-rotate .service3 {
	-webkit-transform: rotate3d(1, 0, 0, 60deg) translate3d(0, 0, 172px);
	-moz-transform: rotate3d(1, 0, 0, 60deg) translate3d(0, 0, 172px);
	-ms-transform: rotate3d(1, 0, 0, 60deg) translate3d(0, 0, 172px);
	-o-transform: rotate3d(1, 0, 0, 60deg) translate3d(0, 0, 172px);
	transform: rotate3d(1, 0, 0, 60deg) translate3d(0, 0, 172px);
}
.services-container-rotate .service4 {
	-webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 172px);
	-moz-transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 172px);
	-ms-transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 172px);
	-o-transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 172px);
	transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 172px);
}
.services-container-rotate .service5 {
	-webkit-transform: rotate3d(1, 0, 0, 240deg) translate3d(0, 0, 172px);
	-moz-transform: rotate3d(1, 0, 0, 240deg) translate3d(0, 0, 172px);
	-ms-transform: rotate3d(1, 0, 0, 240deg) translate3d(0, 0, 172px);
	-o-transform: rotate3d(1, 0, 0, 240deg) translate3d(0, 0, 172px);
	transform: rotate3d(1, 0, 0, 240deg) translate3d(0, 0, 172px);
}
.services-container-rotate .service6 {
	-webkit-transform: rotate3d(1, 0, 0, 300deg) translate3d(0, 0, 172px);
	-moz-transform: rotate3d(1, 0, 0, 300deg) translate3d(0, 0, 172px);
	-ms-transform: rotate3d(1, 0, 0, 300deg) translate3d(0, 0, 172px);
	-o-transform: rotate3d(1, 0, 0, 300deg) translate3d(0, 0, 172px);
	transform: rotate3d(1, 0, 0, 300deg) translate3d(0, 0, 172px);
}
.services-rotate {
    -webkit-animation: displayServices 12s infinite;
    -moz-animation: displayServices 12s infinite;
    -ms-animation: displayServices 12s infinite;
    -o-animation: displayServices 12s infinite;
    animation: displayServices 12s infinite;
}
@-webkit-keyframes displayServices {
    0%   {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg)}
    0%   {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg)}
    0%   {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg)}
    0%   {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg)}
    5%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    5%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    5%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    5%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    16.5%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    16.5%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    16.5%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    16.5%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    21.5%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    21.5%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    21.5%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    21.5%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    33%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    33%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    33%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    33%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    38%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    38%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    38%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    38%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    49.5%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    49.5%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    49.5%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    49.5%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    54.5% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    54.5% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    54.5% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    54.5% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    66% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    66% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    66% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    66% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    71% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    71% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    71% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    71% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    82.5% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    82.5% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    82.5% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    82.5% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    87.5% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    87.5% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    87.5% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    87.5% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    99% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    99% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    99% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    99% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
}
@keyframes displayServices {
    0%   {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg)}
    0%   {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg)}
    0%   {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg)}
    0%   {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 0deg)}
    5%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    5%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    5%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    5%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    16.5%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    16.5%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    16.5%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    16.5%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 60deg)}
    21.5%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    21.5%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    21.5%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    21.5%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    33%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    33%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    33%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    33%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 120deg)}
    38%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    38%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    38%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    38%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    49.5%  {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    49.5%  {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    49.5%  {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    49.5%  {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 180deg)}
    54.5% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    54.5% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    54.5% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    54.5% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    66% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    66% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    66% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    66% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 240deg)}
    71% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    71% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    71% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    71% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    82.5% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    82.5% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    82.5% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    82.5% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 300deg)}
    87.5% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    87.5% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    87.5% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    87.5% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    99% {-webkit-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    99% {-moz-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    99% {-ms-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
    99% {-o-transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg);transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, 360deg)}
}
@media (max-width:950px){
    .services h2{
        font-size: 1.5em;
    }
}
@media (max-width:700px){
    .services p{
        font-size: 15px;
    }
    .services h2{
        font-size: 1em;
    }
}
@media (max-width:300px){
    .services h2{
        font-size: 0.75em;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Work
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.work-hero{
    background-image: url(/img/work_hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.work-header{
    height: 100%;
    background: #717271;
    color: white;
    padding: 25px;
    max-width: 1000px;
    margin: 0 auto;
}
.work-header h1{
    margin-left: 50px;
}
.work{
    padding: 0;
    background: #717271;
    height: 100%;
}
.work-container{
    margin-bottom: 300px;
}
.work-title{
    background: #67b2e8;
    height: 50px;
    font-size: 30px;
}
.work-description{
    display: inline-block;
    width: calc(100% - 300px);
    background: #fff;
    min-height: 300px;
    max-height: 300px;
}
.work-photo{
    background: #fff;
    padding: 15px;
    float: left;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.work-content{
    padding: 20px 50px;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
}
.left{
    position: absolute;
    left: 0px;
}
.right{
    position: absolute;
    right: 0px;
}
.text-left{
    text-align: left;
    padding: 0 25px;
}
.text-right{
    text-align: right;
    padding: 0 25px;
}
.php-header{
    background-image: url(/img/PHP.jpg);
    background-size: contain;
    height: 275px;
    width: 100%;
}
.html-header{
    background-image: url(/img/HTML-CSS.jpg);
    background-size: contain;
    height: 275px;
    width: 100%;
}
.javascript-header{
    background-image: url(/img/Javascript.jpg);
    background-size: contain;
    height: 275px;
    width: 100%;
}
.wp-header{
    background-image: url(/img/wordpress.jpg);
    background-size: contain;
    height: 275px;
    width: 100%;
}
.design-header{
    background-image: url(/img/design.jpg);
    background-size: contain;
    height: 275px;
    width: 100%;
}
.work-pic{
    background-image: url(/img/second-hero.jpg);
}
@media (max-width:750px){
    .work-photo{
        padding: 20px 0;
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
        float: none;
        height: 300px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    .work-description{
        position: relative;
        display: block;
        width: 100%;
        background: #fff;
        min-height: 0px;
        max-height: 300px;
        height: 100%;
    }
    .work-content{
        font-size: 15px;
        line-height: 25px;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Contact
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.contact-hero{
    background: #1D1F21;
    background-image: url(/img/contact-hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 100%;
    height: 27vw;
}
.contact{
    padding: 10px 0;
    height: 735px;
    width: 100%;
    background: #67B2E8;
}
.contact-wrapper{
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
}
input {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-shadow: none;
}
textarea{
    position: absolute;
    top: 39px;
      font-family: inherit;
  font-size: 20px;
  vertical-align: baseline;
  box-shadow: none;
    height: 300px
}
input[type='text'] {
  width: 100%;
  padding: 10px 10px 12px 60px;
  font-size: 20px;
  color: #555;
  background-color: White;
  padding-right: 118px;
}
.css {
  display: inline-block;
  position: relative;
  margin-top: 25px;
  width: 100%;
  margin-left: calc(50% - 50%);
}
.css input {
  -webkit-transition: .1s all linear;
  -moz-transition: .1s all linear;
  -ms-transition: .1s all linear;
  -o-transition: .1s all linear;
  transition: .1s all linear;
}
.css label {
  width: 100%;
  height: 39px;
  position: absolute;
  font-size: 20px;
  -webkit-transition: .1s all linear;
  -moz-transition: .1s all linear;
  -ms-transition: .1s all linear;
  -o-transition: .1s all linear;
  transition: .1s all linear;
  cursor: text;
  padding: 3px 0 0 12px;
  color: #FFF;
  background: #717271;
    z-index: 1;
}
.css.active input {
  padding-left: 10px;
    border: 0px;
    box-shadow: none;
}
.css.active textarea{
      padding-left: 10px;
    border: 0px;
    box-shadow: none;
}
.css.active label {
    width: 110px;
  background: #717271;
  margin-left: calc(100% - 110px);
  padding-right: 13px;
    text-align: center;
}
.message-box{
    margin-bottom: 348.5px;
}
.submit{
  display: inline-block;
  position: relative;
  margin-top: 25px;
  width: 110px;
    float: right;
    z-index: 1;
}
.submit-button{
    font-family: 'Raleway', sans-serif;
  width: 110px;
  height: 39px;
  font-size: 20px;
  padding: 3px 0 0 0px;
    font-weight: 500;
  background: #FFF;
    color: #717271;
    z-index: 10;
    cursor: pointer;
    float: right;
    text-align: center;
}
.submit label{
  width: 110px;
  height: 39px;
  position: absolute;
  font-size: 20px;
  padding: 3px 0 0 0px;
  color: #FFF;
  background: #717271;
    z-index: 10;
    cursor: pointer;
    float: right;
    text-align: center;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.submit:hover label{
    -webkit-transform: translateX(110px);
    -moz-transform: translateX(110px);
    -ms-transform: translateX(110px);
    -o-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.submithover{
    width: 110px;
    height: 39px;
    position: absolute;
    font-size: 20px;
    padding: 0px 0 0 0px;
    z-index: 2;
    cursor: pointer;
    float: right;
    text-align: center; 
    overflow: hidden;
}
.submit-button:active{
    background: #4CAF50;
    color: #FFF;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

footer {
    background: #717271;
    height: 300px;
    width: 100%;
    color: white;
    text-align: center;
}
.desktop-footer{
    display: block;
    width: 100%;
    bottom: 0px
}
.mobile-footer{
    display: none;
}

@media (max-width:650px){
    .desktop-footer{
        display: none;
    }
    .mobile-footer{
        display: block;
    }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Desktop
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.icon-button {
    background-color: white;
    border-radius: 3.6rem;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    width: 3.6rem;
    bottom: -60px;
}
.icon-button span {
    height: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}
.twitter span {
    background-color: #4099ff;
}
.facebook span {
    background-color: #3B5998;
}
.google span {
    background-color: #3A7CEC;
}
.linkedin span {
    background-color: #0077B5;
}
.snapchat span {
    background-color: #FFFC00;
}
.bitbucket span {
    background-color: #205081;
}
.github span {
    background-color: #24292E;
}
.icon-button i {
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}
.icon-button .fa-twitter {
    color: #4099ff;
}
.icon-button .fa-facebook {
    color: #3B5998;
}
.icon-button .fa-google {
    color: #3A7CEC;
}
.icon-button .fa-linkedin {
    color: #0077B5;
}
.icon-button .fa-snapchat-ghost {
    color: #FFFC00;
}
.icon-button .fa-bitbucket {
    color: #205081;
}
.icon-button .fa-github-alt {
    color: #24292E;
}        
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-linkedin,
.icon-button:hover .fa-snapchat-ghost,
.icon-button:hover .fa-bitbucket,
.icon-button:hover .fa-github-alt,
.icon-button:hover .fa-google {
    color: white;
}
.medium-4:first-child a{
    margin-left: 50%;
}
.medium-4:last-child a{
    margin-right: 50%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Mobile
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.menu {
          -webkit-filter: url("#shadowed-goo");
          -moz-filter: url("#shadowed-goo");
          -ms-filter: url("#shadowed-goo");
          -o-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}
.menu-open-button {
  background: #FFF;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(50% - 50px);
  top: 125px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  -moz-transition: -moz-transform ease-out 200ms;
  -ms-transition: -ms-transform ease-out 200ms;
  -o-transition: -o-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: -moz-transform ease-out 200ms;
  transition: -ms-transform ease-out 200ms;
  transition: -o-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms, -moz-transform ease-out 200ms;
  transition: transform ease-out 200ms, -ms-transform ease-out 200ms;
  transition: transform ease-out 200ms, -o-transform ease-out 200ms;
}
.menu-item{
  left: 50%;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 125px;
  background: white;
  color: black;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  -moz-transition: -moz-transform ease-out 200ms;
  -ms-transition: -ms-transform ease-out 200ms;
  -o-transition: -o-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: -moz-transform ease-out 200ms;
  transition: -ms-transform ease-out 200ms;
  transition: -o-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms, -moz-transform ease-out 200ms;
  transition: transform ease-out 200ms, -ms-transform ease-out 200ms;
  transition: transform ease-out 200ms, -o-transform ease-out 200ms;
}
.menu-item span{
    height: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.menu-item:hover span{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: -2.5rem;
}
.menu-item i{
    height: 80px;
    left: 0;;
    line-height: 80px;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 80px;
    z-index: 10;
}
.menu-item .fa-twitter {
    color: #4099ff;
}
.menu-item .fa-facebook {
    color: #3B5998;
}
.menu-item .fa-google {
    color: #3A7CEC;
}
.menu-item .fa-linkedin {
    color: #0077B5;
}
.menu-item .fa-snapchat-ghost {
    color: #FFFC00;
}
.menu-item .fa-bitbucket {
    color: #205081;
}
.menu-item .fa-github-alt {
    color: #24292E;
}        
.menu-item:hover .fa-twitter,
.menu-item:hover .fa-facebook,
.menu-item:hover .fa-linkedin,
.menu-item:hover .fa-snapchat-ghost,
.menu-item:hover .fa-bitbucket,
.menu-item:hover .fa-github-alt,
.menu-item:hover .fa-google {
    color: white;
}
.menu-open {
  display: none;
}
.hamburger-mobile {
  width: 25px;
  height: 3px;
  background: #67B2E8;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  -moz-transition: -moz-transform 200ms;
  -ms-transition: -ms-transform 200ms;
  -o-transition: -o-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: -moz-transform 200ms;
  transition: -ms-transform 200ms;
  transition: -o-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  transition: transform 200ms, -moz-transform 200ms;
  transition: transform 200ms, -ms-transform 200ms;
  transition: transform 200ms, -o-transform 200ms;
}
.hamburger-1 {
          -webkit-transform: translate3d(0, -8px, 0);
          -moz-transform: translate3d(0, -8px, 0);
          -ms-transform: translate3d(0, -8px, 0);
          -o-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.hamburger-3 {
          -webkit-transform: translate3d(0, 8px, 0);
          -moz-transform: translate3d(0, 8px, 0);
          -ms-transform: translate3d(0, 8px, 0);
          -o-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu-open-button .hamburger-1 {
          -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          -moz-transform: translate3d(0, 0, 0) rotate(45deg);
          -ms-transform: translate3d(0, 0, 0) rotate(45deg);
          -o-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
          -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          -moz-transform: translate3d(0, 0, 0) scale(0.1, 1);
          -ms-transform: translate3d(0, 0, 0) scale(0.1, 1);
          -o-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
          -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          -moz-transform: translate3d(0, 0, 0) rotate(-45deg);
          -ms-transform: translate3d(0, 0, 0) rotate(-45deg);
          -o-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  font-size: 2.0rem;
    text-align: left;
}
.menu-item:nth-child(3) {
          -webkit-transition-duration: 100ms;
          -moz-transition-duration: 100ms;
          -ms-transition-duration: 100ms;
          -o-transition-duration: 100ms;
          transition-duration: 100ms;
}
.menu-item:nth-child(4) {
          -webkit-transition-duration: 150ms;
          -moz-transition-duration: 150ms;
          -ms-transition-duration: 150ms;
          -o-transition-duration: 150ms;
          transition-duration: 150ms;
}
.menu-item:nth-child(5) {
          -webkit-transition-duration: 200ms;
          -moz-transition-duration: 200ms;
          -ms-transition-duration: 200ms;
          -o-transition-duration: 200ms;
          transition-duration: 200ms;
}
.menu-item:nth-child(6) {
          -webkit-transition-duration: 250ms;
          -moz-transition-duration: 250ms;
          -ms-transition-duration: 250ms;
          -o-transition-duration: 250ms;
          transition-duration: 250ms;
}
.menu-item:nth-child(7) {
          -webkit-transition-duration: 300ms;
          -moz-transition-duration: 300ms;
          -ms-transition-duration: 300ms;
          -o-transition-duration: 300ms;
          transition-duration: 300ms;
}
.menu-item:nth-child(8) {
          -webkit-transition-duration: 350ms;
          -moz-transition-duration: 350ms;
          -ms-transition-duration: 350ms;
          -o-transition-duration: 350ms;
          transition-duration: 350ms;
}
.menu-item:nth-child(9) {
          -webkit-transition-duration: 400ms;
          -moz-transition-duration: 400ms;
          -ms-transition-duration: 400ms;
          -o-transition-duration: 400ms;
          transition-duration: 400ms;
}
.menu-item:hover {
  background: white;
  color: #ff4081;
}
.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -ms-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  -moz-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  -ms-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  -o-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
          -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          -moz-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          -ms-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          -o-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
          -webkit-transition-timing-function: linear;
          -moz-transition-timing-function: linear;
          -ms-transition-timing-function: linear;
          -o-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-duration: 200ms;
          -moz-transition-duration: 200ms;
          -ms-transition-duration: 200ms;
          -o-transition-duration: 200ms;
          transition-duration: 200ms; 
          -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0); 
          -moz-transform: scale(0.8, 0.8) translate3d(0, 0, 0); 
          -ms-transform: scale(0.8, 0.8) translate3d(0, 0, 0); 
          -o-transform: scale(0.8, 0.8) translate3d(0, 0, 0); 
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open:checked ~ .menu-item {
          -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          -moz-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          -ms-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          -o-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
          -webkit-transition-duration: 100ms;
          -moz-transition-duration: 100ms;
          -ms-transition-duration: 100ms;
          -o-transition-duration: 100ms;
          transition-duration: 100ms;
          -webkit-transform: translate3d(85.40705px, 61.66307px, 0);
          -moz-transform: translate3d(85.40705px, 61.66307px, 0);
          -ms-transform: translate3d(85.40705px, 61.66307px, 0);
          -o-transform: translate3d(85.40705px, 61.66307px, 0);
          transform: translate3d(85.40705px, 61.66307px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
          -webkit-transition-duration: 200ms;
          -moz-transition-duration: 200ms;
          -ms-transition-duration: 200ms;
          -o-transition-duration: 200ms;
          transition-duration: 200ms;
          -webkit-transform: translate3d(114.40705px, -11.66307px, 0);
          -moz-transform: translate3d(114.40705px, -11.66307px, 0);
          -ms-transform: translate3d(114.40705px, -11.66307px, 0);
          -o-transform: translate3d(114.40705px, -11.66307px, 0);
          transform: translate3d(114.40705px, -11.66307px, 0);        
}
.menu-open:checked ~ .menu-item:nth-child(5) {
          -webkit-transition-duration: 300ms;
          -moz-transition-duration: 300ms;
          -ms-transition-duration: 300ms;
          -o-transition-duration: 300ms;
          transition-duration: 300ms;
          -webkit-transform: translate3d(77.04956px, -85.37192px, 0);
          -moz-transform: translate3d(77.04956px, -85.37192px, 0);
          -ms-transform: translate3d(77.04956px, -85.37192px, 0);
          -o-transform: translate3d(77.04956px, -85.37192px, 0);
          transform: translate3d(77.04956px, -85.37192px, 0);       
}
.menu-open:checked ~ .menu-item:nth-child(6) {
          -webkit-transition-duration: 400ms;
          -moz-transition-duration: 400ms;
          -ms-transition-duration: 400ms;
          -o-transition-duration: 400ms;
          transition-duration: 400ms;
          -webkit-transform: translate3d(-0.09158px, -114.99996px, 0);
          -moz-transform: translate3d(-0.09158px, -114.99996px, 0);
          -ms-transform: translate3d(-0.09158px, -114.99996px, 0);
          -o-transform: translate3d(-0.09158px, -114.99996px, 0);
          transform: translate3d(-0.09158px, -114.99996px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
          -webkit-transition-duration: 500ms;
          -moz-transition-duration: 500ms;
          -ms-transition-duration: 500ms;
          -o-transition-duration: 500ms;
          transition-duration: 500ms;
          -webkit-transform: translate3d(-77.18543px, -85.2491px, 0);
          -moz-transform: translate3d(-77.18543px, -85.2491px, 0);
          -ms-transform: translate3d(-77.18543px, -85.2491px, 0);
          -o-transform: translate3d(-77.18543px, -85.2491px, 0);
          transform: translate3d(-77.18543px, -85.2491px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
          -webkit-transition-duration: 600ms;
          -moz-transition-duration: 600ms;
          -ms-transition-duration: 600ms;
          -o-transition-duration: 600ms;
          transition-duration: 600ms;
          -webkit-transform: translate3d(-114.42548px, -11.48084px, 0);
          -moz-transform: translate3d(-114.42548px, -11.48084px, 0);
          -ms-transform: translate3d(-114.42548px, -11.48084px, 0);
          -o-transform: translate3d(-114.42548px, -11.48084px, 0);
          transform: translate3d(-114.42548px, -11.48084px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
          -webkit-transition-duration: 700ms;
          -moz-transition-duration: 700ms;
          -ms-transition-duration: 700ms;
          -o-transition-duration: 700ms;
          transition-duration: 700ms;
          -webkit-transform: translate3d(-85.42548px, 61.48084px, 0);
          -moz-transform: translate3d(-85.42548px, 61.48084px, 0);
          -ms-transform: translate3d(-85.42548px, 61.48084px, 0);
          -o-transform: translate3d(-85.42548px, 61.48084px, 0);
          transform: translate3d(-85.42548px, 61.48084px, 0);
}